beautifulsoup4
cachetools
certifi
APScheduler==3.6.3
beautifulsoup4==4.11.1
cachetools==4.2.2
certifi==2022.6.15
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.5
Flask==2.0.3
flask-sock==0.5.2
google-api-core==2.8.2
google-api-python-client==2.52.0
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
h11
httplib2
idna
itsdangerous
Jinja2
MarkupSafe
oauthlib
protobuf
pyasn1
pyasn1-modules
pyparsing
python-telegram-bot
pytz
pytz-deprecation-shim
requests
requests-oauthlib
rsa
simple-websocket
six
soupsieve
tornado
Turbo-Flask
tzdata
tzlocal
uritemplate
urllib3
Werkzeug
wsproto
python-firebase @ git+https://github.com/ozgur/python-firebase@0d79d7609844569ea1cec4ac71cb9038e834c355